body
{
  background-color: black;
}
#gameScreen
{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 500px;
  background-color: white;
}
#player
{
  position: absolute;
  width: 70px;
  height: 120px;
  background-color: black;
  background: url(images/stickRight.png) no-repeat center center;
  background-size: 100%;
  /*background-size: cover;*/
  /*background-size: contain;*/
}
.enemy
{
  position: absolute;
  bottom: 0px;
}
#enemy1
{
  left: 90px;
}
#enemy2
{
  right: 0px;
}
#enemy3
{
  right: 500px;
}
.enemyLife
{
  width: 50px;
  height: 10px;
  background-color: red;
  margin-bottom: 5px;
}
.enemyImage
{
  width: 50px;
  height: 70px;
  background-color: grey;
  background: url(images/stick.png) no-repeat center center;
  /*background-size: 100%;*/
}
