#gameScreen
{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 500px;
  background-color: blue;
}
#player
{
  position: absolute;
  width: 100px;
  height: 150px;
  background-color: black;
  background: url(images/stickRight.png) no-repeat center center;
  background-size: contain;
}
#test
{
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 96px;
  /*margin-top: 303px;*/
  background-color: black;
}
